/* ------------------ */

/* BASIC STYLING */

/* ------------------ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --Dark-blue: #00154f;
  --White: #FFFFFF; 
  --hover-color: #f4af1b;
  --spare-color: #f2bc94;
}

/* ------------------ */

/* GENERIC STYLING */

/* ------------------ */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--White);
  cursor: pointer;
}
  
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center_1 {
  margin: auto;
  width: 75%;
}

.horizontal {
 display: flex;
 align-items:center;
 justify-content: center;
}

.container {
  display: flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.margin_top {
  margin-top: 1rem;
}

.margin_bottom {
  margin-bottom: 1rem;
}

.margin_right {
  margin-right: 1rem;
}

.margin {
  margin: 1rem;
}


.all_buttons {
  background-color: var(--Dark-blue);
  color: var(--White);
  padding: 0.5rem;
  border-radius: 10px;
}

.all_buttons:hover,
.overlay-content a:hover{
  color: var(--hover-color);
}

/* ------------------ */

/* Navigation Bar */

/* ------------------ */
nav {
  background-color: var(--Dark-blue);
}

.hamburger {
  padding: 0.5rem;
}

.overlay {
  background-color: var(--Dark-blue);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  display: block;
  transition: 0.3s;
}

 .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 20px;
}

/* ------------------ */

/*NAVBAR FOR DESKTOP VIEW*/

/* ------------------ */
@media (min-width: 750px) {

  .hamburger {
    display: none;
  }

  .overlay ul {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: var(--Dark-blue);
    z-index: 2;  /* sets navbar to top*/
    list-style: none;
  }

  .overlay ul a {
    font-size: 1rem;
    padding: 8px;
  }

   .overlay {
    height: 0%;
   }
}

/* ------------------ */

/* BACKGROUND IMAGE */

/* ------------------ */

.background_image {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  position: relative;
  opacity: 0.85;

}

.bg_text {
  position: absolute;
  top: 37.5%; /*half of height for background image class */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--White);
  padding: 1rem;
  background-color: var(--Dark-blue);
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

.bg_text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.bg_text h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.bg_text p {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.intro {
  line-height: 1.6;
}

/* ------------------ */

/* FOOTER */

/* ------------------ */
footer {
  color: var(--White);
  background-color: var(--Dark-blue);
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
}